<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EXPERIENCIA LABORAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Plomero/ Electricista</ion-card-title>
        <ion-card-subtitle>Trabajador Independiente 2019 - 2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
              <ion-list>
               <ion-item>Realización de instalaciones eléctricas.</ion-item> 
               <ion-item>Automatización de espacios.</ion-item>
               <ion-item>Trabajos de cableado para la instalación de equipos.</ion-item>
              </ion-list>
          </ion-item>
        </ion-list>
       </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Freelancer</ion-card-title>
        <ion-card-subtitle>Empresa Freelance, Agosto 2021 - Abril 2022</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
              <ion-list>
               <ion-item>Realización de cambios en páginas web</ion-item> 
               <ion-item>Resolución de ejercicios de Química, básicos</ion-item>
               <ion-item>Realización de tareas de inglés, grado primaria, secuandaria y superior</ion-item>
               <ion-item>Traducción de cartas (Ingles a Español), nivel intermedio</ion-item>
              </ion-list>
          </ion-item>
        </ion-list>
       </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Maestro de Idiomas</ion-card-title>
        <ion-card-subtitle>Empresa Meridian English Center Agosto 2019 - Presente</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
              <ion-list>
               <ion-item>Gestión de estudiantes dentro y fuera del espacio de aprendizaje</ion-item> 
               <ion-item>Participación en planificación de actividades la empresa</ion-item>
               <ion-item>Participación en capacitaciones de la empresa</ion-item>
              </ion-list>
          </ion-item>
        </ion-list>
       </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Gestión y Mantenimiento de medidores eléctricos</ion-card-title>
        <ion-card-subtitle>Empresa eléctrica de Quito, sector el Dorado, Junio 2020 - Septiembre 2020</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
              <ion-list>
               <ion-item>Mantenimiento de medidores eléctricos</ion-item> 
               <ion-item>Calibración de medidores eléctricos</ion-item>
               <ion-item>Clasificación y distribución de medidores eléctricos</ion-item>
              </ion-list>
          </ion-item>
        </ion-list>
       </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Desarrollo de software</ion-card-title>
        <ion-card-subtitle>Departamento de ciencias de alimentos y biotecnología, Escuela Politécnica Nacional, Noviembre 2023 - Febrero 2024</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
              <ion-list>
               <ion-item>Implementación de métodos de pago (paypal)</ion-item> 
               <ion-item>Desarrollo de CRUD de sección de clientes</ion-item>
               <ion-item>Modificaciones del contenido, diseño y estilos de la página web</ion-item>
              </ion-list>
          </ion-item>
        </ion-list>
       </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Gestión de bienes</ion-card-title>
        <ion-card-subtitle>Departamento de bienes, Escuela Politécnica Nacional, Octubre 2023 - Diciembre 2023</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
              <ion-list>
               <ion-item>Constatación de bienes en el observatorio astronómico de Quito. </ion-item> 
               <ion-item>Constatación de bienes en el departamento de gestión de la información y procesos (DGIP) en la Escuela Politécnitca Nacional</ion-item>
               <ion-item>Constatación de bienes en la biblioteca de la facultad de mecánica de la Escuela Politécnitca Nacional</ion-item>
              </ion-list>
          </ion-item>
        </ion-list>
       </ion-card-content>
    </ion-card>
</ion-content>


