<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      REFERENCIAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Paulina García</ion-card-title>
      <ion-card-subtitle>Gerente comercial</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
            <ion-list>
             <ion-item>email: mpgarcia.mallelfortin.com </ion-item> 
             <ion-item>contacto: + 593 997381953 </ion-item>
             <ion-item>linkedin: mpgarcia</ion-item>
            </ion-list>
        </ion-item>
      </ion-list>
     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Javier Martinez</ion-card-title>
      <ion-card-subtitle>Ingeniero Agrónomo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
            <ion-list>
              <ion-item>email: info.purifica.ec </ion-item> 
              <ion-item>contacto: + 593 960560065 </ion-item>
              <ion-item>linkedin: jvmartinez</ion-item>
            </ion-list>
        </ion-item>
      </ion-list>
     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Jessica Vilatuña </ion-card-title>
      <ion-card-subtitle>Jefe de selección</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
            <ion-list>
              <ion-item>email: "javilatuña2corporaciongpf.com</ion-item>
              <ion-item>contacto: + 593 995218408 </ion-item>
              <ion-item>linkedin: javilatuña</ion-item>
              
            </ion-list>
        </ion-item>
      </ion-list>
     </ion-card-content>
  </ion-card>

</ion-content>
